<div class="admin admin-panel" ng-controller="AdminUbicacionCtrl">
	<div ng-include="'/views/partials/header-admin.html'"></div>
	<div class="admin-content">
		<div class="row">
			<div class="page-header">
			  <div class="row">
				<div class="col-md-11">
				  <h1>Ubicaciones <small> - Admin Dashboard </small></h1>
				  <div class="action">				  
					  	<ul>
					  		<li>
					  			<a href="#">
					  				<div class="img">
					  					<i class="fa fa-plus-square" aria-hidden="true"></i>
					  				</div>
					  				<div class="legend">
					  					Nuevo
					  				</div>
					  			</a>
					  		</li>
					  		<li>
					  			<a href="#">
					  				<div class="img">
					  					<i class="fa fa-list" aria-hidden="true"></i>
					  				</div>
					  				<div class="legend">
					  					Listar
					  				</div>
					  			</a>
					  		</li>
					  	</ul>
					</div>  	
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11">
				<div class="panel md-panel">
					<table class="table table-striped">						
						<thead>
							<tr>
								<th>id</th>
								<th>id</th>
								<th>id</th>
								<th>id</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
		<div class="row lower-msg">
			<p>Col 3:23 - Todo lo que hagan, háganlo de corazón, como para el Señor y no para los hombres</p>
		</div>
	</div>	
	
</div>
