<div class="admin admin-panel" ng-controller="AdminCtrl">
	<div ng-include="'/views/partials/header-dir.html'"></div>
	<div class="admin-content">
		<div class="row">
			<div class="col-md-7">
				<div class="panel big-panel">text</div>
			</div>
			<div class="col-md-4">
				<div class="panel small-panel">text</div>
				<div class="panel small-panel">text</div>
			</div>
		</div>
		<div class="row lower-msg">
			<p>Col 3:23 - Todo lo que hagan, háganlo de corazón, como para el Señor y no para los hombres</p>
		</div>
	</div>	
	
</div>
